.login-page {
  min-height: 100vh;
  width: 100%;
  background-image: url('/Login.jpeg');
  background-size:cover;        
  background-position: left;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 10px;
  width: 360px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
}


.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .login-card {
    width: 90%;
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

